<div class="user-list">

  <mat-form-field appearance="fill">
    <input matInput (keyup)="applyFilter($event)" [placeholder]="'Filter users' | i18next" />
  </mat-form-field>


  <table mat-table [dataSource]="users" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >{{'Name' | i18next}}</th>
      <td mat-cell *matCellDef="let user" (click)="userDetails(user)">{{ user.name }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let user">{{ user.role }}</td>
    </ng-container>

    <ng-container matColumnDef="protectedProjects">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Protected projects</th>
      <td mat-cell *matCellDef="let user">{{ user.protectedProjects }}</td>
    </ng-container>

    <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef>Favorite</th>
    <td mat-cell *matCellDef="let user">
      <div *ngIf="user.fav">YES</div>
      <div *ngIf="!user.fav">NO</div>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>